* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u24_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u26_normal.png");
}

* html .u4_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u28_menu.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u30_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u32_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u34_normal.png");
}

* html .u12_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u36_menu.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u38_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u38_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u42_normal.png");
}

* html .u20_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u44_menu.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u52_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u54_normal.png");
}

* html .u33_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u57_menu.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u59_normal.png");
}

* html .u37_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u61_menu.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u46_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u70_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u72_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u74_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Header_files/u79_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u86_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u94_normal.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u97_normal.png");
}

* html .u85_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u113_line.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u139_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u143_normal.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RightSideMaster_files/u145_normal.png");
}

* html .u121_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="AboutPage_files/u121_line.png");
}

