body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../FindPasswordPage_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:20px;
    width:720px;
    height:440px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:446px;
}

.u1 {
    position:absolute;
    left:2px;
    top:212px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../FindPasswordPage_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:200px;
    top:50px;
    width:340px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:336px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:210px;
    top:220px;
    width:321px;
    height:191px;
    overflow:hidden;
}

#pd1u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:191px;
    
}

.u5 {
    position:absolute;
    left:20px;
    top:68px;
    width:280px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:191px;
    
}

.u6 {
    position:absolute;
    left:40px;
    top:45px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../FindPasswordPage_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:85px;
    top:120px;
    width:130px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

